<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>LenaApp</title>
	<link href="{{url_for('static', filename='styles/style.css')}}" rel="stylesheet" type="text/css">
</head>
<body>	
	<h1>Lena Image Processing App</h1>
	<img class="lena" src="{{url_for('static', filename='images/lena.png')}}" alt="Lena image">
	<h3>Which Noise To Add:</h3>
	<form action="/apply-noise" method="POST">
		<input type="submit" name="noise" value="Gaussian">
		<input type="submit" name="noise" value="Salt and Pepper">
		<input type="submit" name="noise" value="Brightness">
	</form>
</body>
</html>
