<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>LenaApp</title>
	<link href="{{url_for('static', filename='styles/style.css')}}" rel="stylesheet" type="text/css">
</head>
<body>	
	<h1>Lena Processed With {{ noise }} Noise:</h1>
	<img class="lena" src="{{ img_path }}" alt="Lena image with {{ noise }} noise">
	<form action="/back-home" method="POST">
		<p><input type="submit" name="back" value="Back Home"></p>
	</form>
</body>
</html>	
