h1 {
	text-align: center;
	font-size: 45px;
}

h3 {
	text-align: center;
	font-size: 35px;
}

.lena {
	margin: auto;
	display: block;
	width: 512px;
	height :512px;
	border-radius: 10%;
}

input {
	margin: 0 auto;
	display: block;
	font-size: 25px;
	margin-bottom: 20px;
	cursor: pointer;
}
